# node
node_modules/
# env
.env
.env.* 
!.env.example
!.env.test.example

# tests output
coverage/
test-report.json
junit.xml
*.junit.xml

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# cookies
cookies.txt